* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #014a8a, #ff8fe9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1, h2 {
    margin-bottom: 10px;
    color: #0a3d62;
    text-align: center;
  }
  
  form {

    margin-top: 25px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
  
  label {
    font-weight: 500;
    color: #0a3d62;
  }
  
  input {
    padding: 10px;
    border: 1px solid #b0c4de;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-color: #1e90ff;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.4);
  }
  
  button {
    background-color: #056fd9;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0058a5;
  }